.my-table{
    background-color: rgb(202, 239, 253);
    width:80%;
    border-collapse:collapse;
    text-align:center;
    margin:0 auto;
}
.my-table th,.my-table td{
    border:3px solid black;
    padding:10px;
}
.my-table tr:hover {
    background-color: #e0f7fa; /* 鼠标悬停高亮 */
  }
